RewriteEngine On

# Redirect /index.html to root URL
RewriteRule ^index\.html$ / [R=301,L]

# Redirect URLs with ?i=1 parameter to root URL
RewriteCond %{QUERY_STRING} i=1
RewriteRule ^$ /? [R=301,L]

# Rewrite URLs without .html extension to corresponding .html files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1.html [L]

